<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :Content %><br>
    <%= form.text_field :Content %>
  </p>
 
  <p>
    <%= form.submit 'Create Article' %>
  </p>
<% end %>
